img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.nuestraMision {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: #404040;
    background: #ffffff;
    height: 1200;
    width: 2319;
}