img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.nuestroContent {
    width: 100%;
}

.nuestroEquipo {
    width: 1100px;
    margin-left: 10%;
    margin-top: 2%;
}

.nuestraMision {
    width: 1100px;
    margin-left: 10%;
}

.nuestraMision h2 , .nuestroEquipo h2 , .instalaciones h2 , .voluntariado h2{
    color: #013487;
    font-size: 2.2em;
    line-height: 1em;
    margin: 12px 0 24px 0;
    font-weight: 700;
    text-align: center;
}

.nuestroEquipo p , .nuestroEquipo li , .nuestraMision p , .voluntariado p{
    font-family: "Roboto",sans-serif;
    font-weight: 14.4px;
    color: #404040;
}

.imageEquipo {
    margin-left: 80px;
}

.imageEquipo img{
    height: 319px;
    width: 319px;
    padding: 14px;
}

.liInstalaciones {
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    list-style: none;
    min-height: 120px;
    margin-bottom: 2em;
}

.liInstalaciones img{
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 100px;
    content: "";
    display: block;
    position: absolute;
}

.instalaciones {
    width: 1100px;
    margin-left: 10%;
    margin-top: 2%;
}

.voluntariado {
    width: 1100px;
    margin-left: 10%;
    margin-top: 35%;
}

input {
    font-size: 100%;
    line-height: 1.15;
    margin-left: 1%;
}

textarea {
    font-size: 100%;
}

.contactForm button{
    height: 37px;
    width: auto;
    color: #013487;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    border: 1px solid #013487;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    background-color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5px 16.5px 0.5px 16.5px;
    background: #ffffff;
    cursor: pointer;
    margin: 5px;
}


